# Base de datos. Tratamiento y exploraci칩n de los datos 游돗游낕

En este jupyter notebook se encuentra todo el proceso de limpieza y selecci칩n de los datos del dataset descargado de kaggle ["UN General Debates"](https://www.kaggle.com/unitednations/un-general-debates), para m치s tarde utilizarlo en la API.

## 칈ndice 游늹

- Importaci칩n de librerias y funciones
- Importaci칩n del dataset
- Exploraci칩n del dataset
- Importaci칩n del dataset definitivo

## 1. Importaci칩n de librerias y funciones 游닄

In [1]:
import pandas as pd
import numpy as np
import re

## 2. Importaci칩n del dataset 游닀

In [2]:
data = pd.read_csv("Data/un-general-debates.csv")
data.head()

   session  year country                                               text
0       44  1989     MDV  容쯀t is indeed a pleasure for me and the member...
1       44  1989     FIN  容쯒
May I begin by congratulating you. Sir, on ...
2       44  1989     NER  容쯒
Mr. President, it is a particular pleasure ...
3       44  1989     URY  容쯒
During the debate at the fortieth session o...
4       44  1989     ZWE  容쯀 should like at the outset to express my del...

## 3. Exploraci칩n del dataset 游댍

Vamos a observar todas las columnas con el objetivo de identificar la informaci칩n que nos proporciona la base de datos y seleccionar la informaci칩n que queremos que contenga nuestra API.

In [3]:
data.columns

Index(['session', 'year', 'country', 'text'], dtype='object')

Comprobamos el n칰mero de NaNs:

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  7507 non-null   int64
 1   year     7507 non-null   int64
 2   country  7507 non-null   object
 3   text     7507 non-null   object
dtypes: int64(2), object(2)
memory usage: 234.7+ KB

En este caso confirmamos que no existen NANs, por 칰ltimo eliminamos la primera columna "session" (se considera que no es relativa/importante para el contenido de nuestra API)

In [5]:
data2 = data.drop("session", axis=1)
data2

      year country                                               text
0     1989     MDV  容쯀t is indeed a pleasure for me and the member...
1     1989     FIN  容쯒
May I begin by congratulating you. Sir, on ...
2     1989     NER  容쯒
Mr. President, it is a particular pleasure ...
3     1989     URY  容쯒
During the debate at the fortieth session o...
4     1989     ZWE  容쯀 should like at the outset to express my del...
...    ...     ...                                                ...
7502  2001     KAZ  容쯊his session\nthat is taking place under extr...
7503  2001     LBR  容쯀 am honoured to\nparticipate in this histori...
7504  2001     BDI  容쯀t\nis for me a signal honour to take the flo...
7505  2001     HUN  容쮽irst, may I congratulate Mr. Han Seung-soo o...
7506  2001     KWT  容쯆n behalf of the State of Kuwait, it\ngives m...

[7507 rows x 3 columns]

Renombramos las columnas para facilitar su lectura y posterior manipulaci칩n.

In [6]:
columnas = ["Year", "Country", "Text"]
data2.columns = columnas
data2.head()

   Year Country                                               Text
0  1989     MDV  容쯀t is indeed a pleasure for me and the member...
1  1989     FIN  容쯒
May I begin by congratulating you. Sir, on ...
2  1989     NER  容쯒
Mr. President, it is a particular pleasure ...
3  1989     URY  容쯒
During the debate at the fortieth session o...
4  1989     ZWE  容쯀 should like at the outset to express my del...

Vamos a limpiar un poco la columna de Speech para eliminar espacios y s칤mobolos innecesarios de cara a unificar el estilo y visualizaci칩n del contenido.

In [7]:
#pasamos todo el texto a min칰sculas
data2["Speech"] = data2["Text"].str.lower()

def clean(x):    
    cleaned = re.sub(r"(?s)<.?>", " ", x)
    cleaned = re.sub(r"[^A-Za-z0-9(),*!?\'\`]", " ", cleaned)
    cleaned = re.sub("\\\\u(.){4}", " ", cleaned)
    return cleaned.strip()

# aplicamos la funci칩n para limpiar el texto
data2["Speech"] = data2.Speech.apply(lambda x: clean(x))
#data2.head()

In [8]:
data3 = data2.drop("Text", axis=1)
data3.head()

   Year Country                                             Speech
0  1989     MDV  it is indeed a pleasure for me and the members...
1  1989     FIN  may i begin by congratulating you  sir, on you...
2  1989     NER  mr  president, it is a particular pleasure for...
3  1989     URY  during the debate at the fortieth session of t...
4  1989     ZWE  i should like at the outset to express my dele...

## 4. Importaci칩n del dataset definitivo 游

In [9]:
data3.to_json("Data/un_to_json", orient = "records")

In [10]:
data3.to_csv("Data/un_to_csv")